{% extends "base.html" %} 
{% block title %}
Home
{% endblock %} 
{% block content %}
<h1 align="center">Books</h1>

<form method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" required />
  </div>
  <div class="form-group">
    <label for="authors">Authors</label>
    <input type="text" class="form-control" id="authors" name="authors" placeholder="Enter Authors" required/>
  </div>
  <div class="form-group">
    <label for="isbn">Isbn</label>
    <input type="number" class="form-control" id="isbn" name="isbn" placeholder="Enter Isbn" required/>
  </div>
  <div class="form-group">
    <label for="publisher">Publisher</label>
    <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Enter Publisher" required/>
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter Stock" required/>
  </div>
  <div class="form-group">
    <label for="data">Data</label>
    <input type="text" class="form-control" id="data" name="data" placeholder="Enter Data" required/>
  </div>
  <button type="ADD" class="btn btn-primary">ADD</button>
</form>



<ul id="Books">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Isbn</th>
        <th>Publisher</th>
        <th>Stock</th>
        <th>About</th>
        <th>Date</th>
        <th>Remove</th>
      </tr>
    </thead>
    {% for Book in user.Books %}
    <tbody>
      <tr>
        <td>{{ Book.bookID }}</td>
        <td>{{ Book.title }}</td>
        <td>{{ Book.authors }}</td>
        <td>{{ Book.isbn }}</td>
        <td>{{ Book.publisher }}</td>
        <td>{{ Book.stock }}</td>
        <td>{{ Book.data }}</td>
        <td>{{ Book.date }}</td>
       
        <td>

          <form method="post" action="{{ url_for('operations.delete_books', bookID=Book.bookID) }}">
            <input class="btn btn-primary" type="submit" name="delete" value="Delete">
          </form>
          
        </td>

      </tr>
    </tbody>
    {% endfor %}
  </table>


  </li>
</ul>





{% endblock %}