{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">
  Import From FrappeAPI
</h1>


<form method="POST">

  <div class="form-group">
    <label for="search_by">Search By</label>
    <input type="text" class="form-control" id="search_by" name="search_by" placeholder="Enter search_by" />
  </div>
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" name="search" placeholder="Enter search" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul id="Passwords">
  <table class="table">
    <thead>
      <tr>
        <th>bookID</th>
        <th>title</th>
        <th>authors</th>
        <th>isbn</th>
        <th>publisher</th>
        <th>num_pages</th>
        <th>stock</th>
        <th>data</th>
        <th>date</th>
        <th>user_id</th>
        <th>remove</th>


      </tr>
    </thead>
    {% for Book in user.Books %}
    <tbody>
      <tr>
        <td>{{ Book.bookID }}</td>
        <td>{{ Book.title }}</td>
        <td>{{ Book.authors }}</td>
        <td>{{ Book.isbn }}</td>
        <td>{{ Book.publisher }}</td>
        <td>{{ Book.num_pages }}</td>
        <td>{{ Book.stock }}</td>
        <td>{{ Book.data }}</td>
        <td>{{ Book.date }}</td>
        <td>{{ Book.user_id }}</td>
        <!-- <td><form method="post" action="{{ url_for('operations.delete_books', bookID=Book.bookID) }}">
          <input class="btn" type="submit" name="delete" value="Delete">
      </form></td> -->

      </tr>
    </tbody>
    {% endfor %}
  </table>


  </li>
</ul>



{% endblock %}