{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Members</h1>



<form method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" />
  </div>
  <div class="form-group">
    <label for="tel">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone" />
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
  </div>
  <div class="form-group">
    <label for="number">Fine</label>
    <input type="number" class="form-control" id="fine" name="fine" placeholder="Enter fine" />
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul id="members">
  <table class="table">
    <thead>
      <tr>
        <th>memID</th>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>fine</th>
        <th>date</th>
        <th>user_id</th>
        <th>remove</th>

      </tr>
    </thead>
    {% for member in user.Members %}
    <tbody>
      <tr>
        <td>{{ member.memID }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.email }}</td>
        <td>{{ member.fine }}</td>
        <td>{{ member.date }}</td>
        <td>{{ member.user_id }}</td>
        <td>
          <form method="post" action="{{ url_for('operations.delete_member', memID=member.memID) }}">
            <input class="btn" type="submit" name="delete" value="Delete">
          </form>
        </td>

      </tr>
    </tbody>
    {% endfor %}
  </table>


  </li>
</ul>


{% endblock %}