{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Transactions</h1>



<form method="POST">


  <div class="form-group">
    <label for="book_name">Book Name</label>
  <select class="form-control" name="book_name" id="book_name" placeholder="Enter book_name">
    {% for Book in user.Books %}
    <option value={{ Book.bookID }}>
      <td>{{ Book.title }}</td>
    </option>
    {% endfor %}
  </select>
  </div>
  <div class="form-group">
    <label for="book_name">Member Name</label>
    <select class="form-control" name="member_name" id="member_name">
      {% for member in user.Members %}
      <option value={{ member.memID }}>
        <td>
          {{ member.name }}
        </td>
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="iss_date">iss_date</label>
    <input type="date" class="form-control" id="iss_date" name="iss_date" placeholder="Enter iss_date" />
  </div>
  <div class="form-group">
    <label for="ret_date">ret_date</label>
    <input type="date" class="form-control" id="ret_date" name="ret_date" placeholder="Enter ret_date" />
  </div>
  <div class="form-group">
    <label for="rent">rent</label>
    <input type="number" class="form-control" id="rent" name="rent" placeholder="Enter rent" />
  </div>
  <div class="form-group">
    <label for="fine">fine</label>
    <input type="number" class="form-control" id="fine" name="fine" placeholder="Enter fine" />
  </div>

  


  <button type="submit" class="btn btn-primary">Submit</button>
</form>




<ul id="books">
  <table class="table">
    <thead>
      <tr>
        <th>transID</th>
        <th>book_name</th>
        <th>member_name</th>
        <th>iss_date</th>
        <th>ret_date</th>
        <th>rent</th>
        <th>fine</th>
        <th>remove</th>

      </tr>
    </thead>
    {% for tran in user.Trans %}
    <tbody>
      <tr>
        <td>{{ tran.transID }}</td>
        <td>{{ tran.book_name }}</td>
        <td>{{ tran.member_name }}</td>
        <td>{{ tran.iss_date }}</td>
        <td>{{ tran.ret_date }}</td>
        <td>{{ tran.rent }}</td>
        <td>{{ tran.fine }}</td>
        <td>{{ tran.remove }}</td>
          <td>{{ tran.remove }}</td>
        
        <td>
          <form method="post" action="{{ url_for('operations.delete_trans', transID=tran.transID) }}" )>
            <input class="btn" type="submit" name="delete" value="Delete">
          </form>          
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </li>
</ul>


{% endblock %}