{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Transactions</h1>



<form method="POST" align="center">


  <select class="form-control"
  name="book_name" 
  id="book_name" 
  placeholder="Enter book_name">
    {% for Book in user.Books %}
    <option>
      <td>
        {{ Book.title }}
      </td>
    </option>
    {% endfor %}
    </select>

  <select class="form-control" name="member_name" 
  id="member_name"
  >
    {% for member in user.Members %}
    <option>
      <td>
        {{ member.name }}
      </td>
    </option>
    {% endfor %}
  </select>


<input 
  name="iss_date" 
  id="iss_date"
  placeholder="iss_date">
</input>
<input 
  name="ret_date" 
  id="ret_date"
  placeholder="ret_date">
</input>
<input 
  name="rent" 
  id="rent"
  placeholder="rent">
</input>
  
<input 
  name="fine" 
  id="fine"
  placeholder="fine">
</input>
<input 
  name="fine" 
  id="fine"
  placeholder="Enter fine">
</input>
    <button type="submit" >Add</button>
</form>




<ul id="books">
  <table class="table">
    <thead>
      <tr>
        <th>transID</th>
        <th>book_name</th>
        <th>member_name</th>
        <th>iss_date</th>
        <th>ret_date</th>
        <th>rent</th>
        <th>fine</th>
        <th>remove</th>

      </tr>
    </thead>
    {% for tran in user.Trans %}
    <tbody>
      <tr>
        <td>{{ tran.transID }}</td>
        <td>{{ tran.book_name }}</td>
        <td>{{ tran.member_name }}</td>
        <td>{{ tran.iss_date }}</td>
        <td>{{ tran.ret_date }}</td>
        <td>{{ tran.rent }}</td>
        <td>{{ tran.fine }}</td>
        <td>{{ tran.remove }}</td>
        <td><form method="post" action="{{ url_for('operations.delete_trans', transID=tran.transID) }}")>
          <input class="btn" type="submit" name="delete" value="Delete">
      </form></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </li>
</ul>


{% endblock %}


